<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create New Person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id =${person.getId()})}" th:object="${person}">
  <label for="firstName">First Name</label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <label for="lastName">Second Name</label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <input type="submit" value="Update"/>
</form>

</body>
</html>