<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Person</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="firstName">First Name</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Errors</div>
    <br/>
    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color: red"  th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Errors</div>
    <br/>
    <label for="placeOfBirth">Place of Birth</label>
    <input type="text" th:field="*{pob}" id="placeOfBirth"/>
    <div style="color: red"  th:if="${#fields.hasErrors('pob')}" th:errors="*{pob}">POB Errors</div>
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: red"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Last Name Errors</div>
    <br/>
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age">
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Errors</div>
    <br/>
    <input type="submit" value="Create"/>
</form>

</body>
</html>