<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="rockMusic" class="org.maxkremlev.Music.RockMusic" scope="singleton"/>
    <bean id="countryMusic" class="org.maxkremlev.Music.CountryMusic" scope="prototype"/>
<!--    <bean id="hipHopMusic" class="org.maxkremlev.Music.HipHopMusic"/>-->

<!--    <bean id="musicPlayer" class="org.maxkremlev.MusicPlayer">-->
<!--        <property name="playList">-->
<!--            <list>-->
<!--                <ref bean="countryMusic"/>-->
<!--                <ref bean="hipHopMusic"/>-->
<!--                <ref bean="rockMusic"/>-->
<!--            </list>-->
<!--        </property>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--    </bean>-->

</beans>